Repository JackLeetwan/qa-toolsmith: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(e2e): unskip IBAN tests when ENV_NAME unset; fix teardown TS types; clean build verified
  e2e/generators-iban.spec.ts
  e2e/teardown/global.teardown.ts
Due: eslint --fix, prettier --write

chore: fix lint types for admin cleanup; update registration spec; sync env test example
  .env.test.example
  e2e/registration.spec.ts
  e2e/teardown/global.teardown.ts
Due: eslint --fix, prettier --write

test(e2e): unskip IBAN tests when ENV_NAME unset; fix teardown TS typ… (#8)
  .env.test.example
  e2e/generators-iban.spec.ts
  e2e/registration.spec.ts
  e2e/teardown/global.teardown.ts
Due: eslint --fix, prettier --write

feat: Migrate from import.meta.env to typed astro:env
  .ai/ARCHITECTURE.md
  .cursor/rules/backend-api.mdc
  .cursor/rules/github-action.mdc
  astro.config.mjs
  docs/deployment-cloudflare.md
  docs/tech-stack.md
  src/__tests__/features.test.ts
  src/__tests__/lib/supabase-client.test.ts
  src/db/supabase.client.ts
  src/env.d.ts
  src/features/index.ts
  src/lib/helpers/audit.helper.ts
  src/lib/services/auth.service.ts
  src/lib/services/health.service.ts
  src/lib/services/openrouter.service.ts
  src/lib/services/profile.service.ts
  src/lib/utils/environment.ts
  src/pages/api/auth/reset-request.test.ts
  src/pages/api/auth/reset-request.ts
  src/test/env-mock.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: Refactor CI/CD workflows and add setup guide
  .cursor/rules/shared.mdc
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  docs/SETUP_GUIDE.md
  docs/deployment-cloudflare.md
  docs/tech-stack.md
Due: prettier --write

feat: Migrate from import.meta.env to typed astro:env (#9)
  .ai/ARCHITECTURE.md
  .cursor/rules/backend-api.mdc
  .cursor/rules/github-action.mdc
  .cursor/rules/shared.mdc
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  astro.config.mjs
  docs/SETUP_GUIDE.md
  docs/deployment-cloudflare.md
  docs/tech-stack.md
  src/__tests__/features.test.ts
  src/__tests__/lib/supabase-client.test.ts
  src/db/supabase.client.ts
  src/env.d.ts
  src/features/index.ts
  src/lib/helpers/audit.helper.ts
  src/lib/services/auth.service.ts
  src/lib/services/health.service.ts
  src/lib/services/openrouter.service.ts
  src/lib/services/profile.service.ts
  src/lib/utils/environment.ts
  src/pages/api/auth/reset-request.test.ts
  src/pages/api/auth/reset-request.ts
  src/test/env-mock.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

removed unnecesary file
  docs/SETUP_GUIDE.md
Due: prettier --write

feat: Add Docker support for flexible deployment
  .cursor/rules/docker.mdc
  .dockerignore
  .env.docker.example
  .gitignore
  Dockerfile
  astro.config.mjs
  docker-compose.yml
  docs/docker.md
  docs/tech-stack.md
  package.json
Due: prettier --write

Refactor CI/CD workflows and remove SETUP_GUIDE.md (#10)
  .cursor/rules/docker.mdc
  .dockerignore
  .env.docker.example
  .gitignore
  Dockerfile
  astro.config.mjs
  docker-compose.yml
  docs/docker.md
  docs/tech-stack.md
  package.json
Due: prettier --write

docs: refactor documentation structure (Phase 2 & 3)
  .ai/ARCHITECTURE.md
  .cursor/rules/frontend-coding.mdc
  .cursor/rules/planning.mdc
  .cursor/rules/shared.mdc
  DEBUGGING_SUMMARY.md
  E2E_ISSUE_CONTEXT.md
  README.md
  docs/SECURITY.md
  docs/SETUP_GUIDE.md
  docs/api.md
  docs/deployment-cloudflare.md
  docs/generators-view.md
  docs/tech-stack.md
Due: prettier --write

updated readme
  README.md
Due: prettier --write

docs: refactor documentation structure (Phase 2 & 3) (#11)
  .ai/ARCHITECTURE.md
  .cursor/rules/frontend-coding.mdc
  .cursor/rules/planning.mdc
  .cursor/rules/shared.mdc
  DEBUGGING_SUMMARY.md
  E2E_ISSUE_CONTEXT.md
  README.md
  docs/SECURITY.md
  docs/SETUP_GUIDE.md
  docs/api.md
  docs/deployment-cloudflare.md
  docs/generators-view.md
  docs/tech-stack.md
Due: prettier --write

small frontend fixes
  src/components/Welcome.astro
  src/components/generators/GeneratorCard.tsx
  src/components/landing/BenefitsSection.tsx
  src/components/landing/FeatureCard.tsx
  src/components/landing/FeatureGrid.tsx
  src/components/ui/select.tsx
  src/styles/global.css
Due: eslint --fix, prettier --write

fix: update FeatureGrid layout to match tests; chore: format files and resolve lint errors; chore: merge latest master into PR branch
  .ai/ARCHITECTURE.md
  .ai/diagrams/GENERATION_GUIDELINES.md
  .ai/diagrams/ui.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/SECURITY.md
  docs/SETUP_GUIDE.md
  docs/api.md
  docs/deployment-cloudflare.md
  docs/docker.md
  docs/generators-view.md
  docs/tech-stack.md
  src/__tests__/contracts/README.md
  src/components/Welcome.astro
  src/components/landing/BenefitsSection.tsx
  src/components/landing/FeatureGrid.tsx
  src/styles/global.css
  tsconfig.vitest.json
Due: eslint --fix, prettier --write

Frontend/small fixes on dashboard and generators (#12)
  .ai/ARCHITECTURE.md
  .ai/diagrams/GENERATION_GUIDELINES.md
  .ai/diagrams/ui.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/SECURITY.md
  docs/SETUP_GUIDE.md
  docs/api.md
  docs/deployment-cloudflare.md
  docs/docker.md
  docs/generators-view.md
  docs/tech-stack.md
  src/__tests__/contracts/README.md
  src/components/Welcome.astro
  src/components/generators/GeneratorCard.tsx
  src/components/landing/BenefitsSection.tsx
  src/components/landing/FeatureCard.tsx
  src/components/landing/FeatureGrid.tsx
  src/components/ui/select.tsx
  src/styles/global.css
  tsconfig.vitest.json
Due: eslint --fix, prettier --write

feat(middleware): enable public access to /kb
  src/middleware/index.test.ts
  src/middleware/middleware-handler.ts
Due: eslint --fix, prettier --write

fix: correct feature flag tests for production environment
  src/__tests__/features.test.ts
Due: eslint --fix, prettier --write

feat: enhance E2E tests and diagnostics for Knowledge Base
  e2e/kb-public-access.spec.ts
  e2e/pages/KbPage.ts
  e2e/rls-isolation.spec.ts
  e2e/setup/global.setup.ts
  e2e/teardown/global.teardown.ts
  eslint.config.js
  scripts/preview.js
  scripts/test-signup.js
  src/features/config.production.ts
Due: eslint --fix, prettier --write

fix: temporarily skip failing E2E auth tests
  e2e/kb-public-access.spec.ts
Due: eslint --fix, prettier --write

style: fix prettier formatting in E2E tests
  e2e/kb-public-access.spec.ts
Due: eslint --fix, prettier --write

fix: skip additional auth-dependent E2E tests
  e2e/kb-public-access.spec.ts
Due: eslint --fix, prettier --write

style: fix prettier formatting
  e2e/kb-public-access.spec.ts
Due: eslint --fix, prettier --write

feat: stabilize E2E tests pipeline
  E2E_FIX_PLAN.md
  e2e/kb-admin-restrictions.spec.ts
  e2e/kb-public-access.spec.ts
  e2e/pages/KbPage.ts
  e2e/rls-isolation.spec.ts
  playwright.config.ts
  src/components/kb/KbEntryForm.tsx
Due: eslint --fix, prettier --write

fix: skip failing E2E test and resolve ARIA role conflict
  E2E_FIX_PLAN.md
  e2e/kb-public-access.spec.ts
  src/__tests__/components/kb/KbEntryForm.test.tsx
  src/components/kb/KbEntriesList.tsx
  src/components/kb/KbEntryForm.tsx
Due: eslint --fix, prettier --write

chore: remove coverage files from repo (they belong in .gitignore)
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: eslint --fix, prettier --write

fix: prevent seed data from polluting production database
  E2E_FIX_PLAN.md
  supabase/migrations/20251029151500_seed_public_kb_entries.sql
  supabase/migrations/20251030213423_remove_seed_kb_entries.sql
Due: prettier --write

fix: add AUTH_SIGNUP_REDIRECT_URL env var for correct email confirmation links
  .env.docker.example
  E2E_FIX_PLAN.md
  astro.config.mjs
  docker-compose.yml
  docs/docker.md
  src/pages/api/auth/signup.test.ts
  src/pages/api/auth/signup.ts
  src/test/env-mock.ts
Due: eslint --fix, prettier --write

feat: Knowledge Base implementation with auth fixes (#14)
  .env.docker.example
  E2E_FIX_PLAN.md
  astro.config.mjs
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  docker-compose.yml
  docs/docker.md
  src/pages/api/auth/signup.test.ts
  src/pages/api/auth/signup.ts
  src/test/env-mock.ts
  supabase/migrations/20251029151500_seed_public_kb_entries.sql
  supabase/migrations/20251030213423_remove_seed_kb_entries.sql
Due: eslint --fix, prettier --write

docs: add AUTH_SIGNUP_REDIRECT_URL to wrangler.toml requirements
  wrangler.toml
Due: none

docs: add AUTH_SIGNUP_REDIRECT_URL to wrangler.toml requirements (#15)
  wrangler.toml
Due: none

🔧 Refactor: Use ENV_NAME from GitHub Secrets in E2E workflow
  .github/workflows/ci.yml
Due: none

🔒 SECURITY: Fix SECURITY DEFINER view templates_effective
  supabase/migrations/20251030214000_fix_security_definer_templates_effective.sql
Due: none

🔧 Fix SECURITY DEFINER migration syntax
  supabase/migrations/20251030214000_fix_security_definer_templates_effective.sql
Due: none

🔒 CRITICAL: Fix RLS policies to restore admin access
  supabase/migrations/20251029144603_kb_public_read_access.sql
  supabase/migrations/20251030220000_fix_rls_policies_admin_access.sql
Due: none

feat: reduce E2E tests to 8 critical tests per functionality
  debug-kb-no-button.png
  docs/E2E_FIX_PLAN.md
  e2e/debug-selectors.spec.ts
  e2e/feature-flags-disabled.spec.ts
  e2e/feature-flags-enabled.spec.ts
  e2e/feature-flags.spec.ts
  e2e/generators-iban.spec.ts
  e2e/kb-admin-restrictions.spec.ts
  e2e/kb-public-access.spec.ts
  e2e/registration.spec.ts
  e2e/rls-isolation.spec.ts
  supabase/migrations/20251029144603_kb_complete_public_access.sql
  supabase/migrations/20251029144603_kb_public_read_access.sql
  supabase/migrations/20251029150000_kb_admin_public_access.sql
  supabase/migrations/20251029151500_seed_public_kb_entries.sql
  supabase/migrations/20251030213423_remove_seed_kb_entries.sql
  supabase/migrations/20251030214000_fix_security_definer_templates_effective.sql
  supabase/migrations/20251030220000_fix_rls_policies_admin_access.sql
Due: eslint --fix, prettier --write

fix: resolve lint errors after E2E test reduction
  e2e/kb-admin-restrictions.spec.ts
  e2e/kb-public-access.spec.ts
  e2e/rls-isolation.spec.ts
Due: eslint --fix, prettier --write

fix: improve CI reliability for E2E tests
  .github/workflows/ci.yml
  e2e/teardown/global.teardown.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,astro}
  prettier --write: any of: *.{ts,tsx,js,jsx,md,css,json,astro}
