Repository JackLeetwan/qa-toolsmith: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: unify E2E check names and fix report upload
  .github/workflows/ci.yml
  playwright.config.ts
Due: eslint --fix, prettier --write

Disable KV rate limiting for MVP deployment
  wrangler.toml
Due: none

Disable KV rate limiting for MVP deployment (#17)
  wrangler.toml
Due: none

docs: Add AI documentation and endpoint implementation plans
  .ai/endpoint-implementation-plans/auth-login-endpoint-implementation.md
  .ai/endpoint-implementation-plans/generators-iban-implementation-plan.md
  .ai/endpoint-implementation-plans/get-templates-implementation-plan.md
  .ai/endpoint-implementation-plans/health-endpoint-implementation-plan.md
  .ai/endpoint-implementation-plans/patch-profiles-me-endpoint-implementation-plan.md
  .ai/endpoint-implementation-plans/profiles-me-endpoint-implementation.md
Due: prettier --write

docs: Add AI documentation and endpoint implementation plans (#18)
  .ai/endpoint-implementation-plans/auth-login-endpoint-implementation.md
  .ai/endpoint-implementation-plans/generators-iban-implementation-plan.md
  .ai/endpoint-implementation-plans/get-templates-implementation-plan.md
  .ai/endpoint-implementation-plans/health-endpoint-implementation-plan.md
  .ai/endpoint-implementation-plans/patch-profiles-me-endpoint-implementation-plan.md
  .ai/endpoint-implementation-plans/profiles-me-endpoint-implementation.md
Due: prettier --write

chore: update package-lock.json dependencies
  package-lock.json
Due: prettier --write

chore: update package-lock.json dependencies (#19)
  package-lock.json
Due: prettier --write

fix: Firefox compatibility and Node.js version updates
  README.md
  docs/NODE_VERSION_SETUP.md
  docs/generators-view.md
  src/components/generators/iban/IBANGeneratorForm.tsx
  src/components/generators/iban/IBANValidatorForm.tsx
  src/components/ui/select.tsx
Due: eslint --fix, prettier --write

fix: Firefox compatibility and Node.js version updates (#20)
  README.md
  docs/NODE_VERSION_SETUP.md
  docs/generators-view.md
  src/components/generators/iban/IBANGeneratorForm.tsx
  src/components/generators/iban/IBANValidatorForm.tsx
  src/components/ui/select.tsx
Due: eslint --fix, prettier --write

docs: poprawa spójności dokumentacji i kompatybilności
  .ai/ARCHITECTURE.md
  .ai/endpoint-implementation-plans/auth-login-endpoint-implementation.md
  .ai/endpoint-implementation-plans/generators-iban-implementation-plan.md
  .ai/endpoint-implementation-plans/health-endpoint-implementation-plan.md
  .cursor/rules/backend-api.mdc
  docs/E2E_FIX_PLAN.md
  docs/NODE_VERSION_SETUP.md
  docs/api.md
  docs/kb-admin-restrictions.md
  package-lock.json
  src/components/generators/iban/ValidationResult.tsx
  src/middleware/middleware-handler.ts
  src/pages/kb/index.astro
Due: eslint --fix, prettier --write

Fix/firefox compatibility and node version (#21)
  .ai/ARCHITECTURE.md
  .ai/endpoint-implementation-plans/auth-login-endpoint-implementation.md
  .ai/endpoint-implementation-plans/generators-iban-implementation-plan.md
  .ai/endpoint-implementation-plans/health-endpoint-implementation-plan.md
  .cursor/rules/backend-api.mdc
  docs/E2E_FIX_PLAN.md
  docs/NODE_VERSION_SETUP.md
  docs/api.md
  docs/kb-admin-restrictions.md
  package-lock.json
  src/components/generators/iban/ValidationResult.tsx
  src/middleware/middleware-handler.ts
  src/pages/kb/index.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,astro}
  prettier --write: any of: *.{ts,tsx,js,jsx,md,css,json,astro}
