Repository JackLeetwan/qa-toolsmith: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,astro}": ["eslint --fix"],
  "*.{ts,tsx,js,jsx,md,css,json,astro}": ["prettier --write"]
}

fix: update E2E tests to work with new landing component link texts
  e2e/pages/HomePage.ts
  src/__tests__/components/landing/FeatureCard.test.tsx
  src/__tests__/components/landing/FeatureGrid.test.tsx
  src/components/landing/FeatureCard.tsx
  src/components/landing/FeatureGrid.tsx
Due: eslint --fix, prettier --write

Add Cursor IDE project rules configuration
  .cursor/rules/shared.mdc
Due: none

feat: implement feature flags system
  astro.config.mjs
  e2e/feature-flags.spec.ts
  playwright.config.ts
  src/__tests__/features.test.ts
  src/components/TopBar.tsx
  src/features/config.integration.ts
  src/features/config.local.ts
  src/features/config.production.ts
  src/features/index.ts
  src/features/types.ts
  src/layouts/PublicLayout.astro
  src/pages/api/generators/iban.test.ts
  src/pages/api/generators/iban.ts
  src/pages/charters/index.astro
  src/pages/generators/[kind].astro
  src/pages/generators/iban.astro
  src/pages/generators/index.astro
  src/pages/kb/index.astro
  src/pages/templates/index.astro
Due: eslint --fix, prettier --write

fix: resolve all linting and type checking errors
  astro.config.mjs
  playwright.config.ts
  src/__tests__/features.test.ts
  src/components/TopBar.tsx
  src/features/index.ts
Due: eslint --fix, prettier --write

feat: implement feature flags system
  astro.config.mjs
  e2e/feature-flags-disabled.spec.ts
  e2e/feature-flags-enabled.spec.ts
  e2e/generators-iban.spec.ts
  package.json
  playwright.config.ts
  scripts/dev-e2e-safe-defaults.js
  scripts/dev-e2e.js
  src/__tests__/features.test.ts
  src/components/TopBar.tsx
  src/features/index.ts
  src/lib/hooks/useFeatureFlag.test.ts
  src/lib/hooks/useFeatureFlag.ts
  src/lib/utils/environment.ts
  src/middleware/index.test.ts
  src/middleware/middleware-handler.ts
  src/pages/api/auth/reset-change.test.ts
  src/pages/api/auth/reset-change.ts
  src/pages/api/auth/reset-request.test.ts
  src/pages/api/auth/reset-request.ts
  src/pages/api/auth/signin.test.ts
  src/pages/api/auth/signin.ts
  src/pages/api/auth/signout.ts
  src/pages/api/auth/signup.test.ts
  src/pages/api/auth/signup.ts
Due: eslint --fix, prettier --write

docs: clean up documentation structure
  .ai/ARCHITECTURE.md
  README.md
  docs/tech-stack.md
Due: prettier --write

test: improve E2E logging and security
  e2e/setup/global.setup.ts
  e2e/teardown/global.teardown.ts
Due: eslint --fix, prettier --write

feat: switch to Cloudflare Pages adapter for production deployment
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write

fix: configure Cloudflare adapter in directory mode to avoid KV binding issues
  astro.config.mjs
Due: none

fix: add environment variable validation for Cloudflare deployment
  README.md
  docs/CLOUDFLARE_FIX.md
  docs/deployment-cloudflare.md
  src/db/supabase.client.ts
  src/env.d.ts
  src/lib/services/health.service.ts
  src/middleware/middleware-handler.ts
  src/pages/api/env-check.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

fix: inject environment variables at build time for Cloudflare Pages
  astro.config.mjs
Due: none

fix: revert to default Cloudflare adapter mode for proper runtime env vars
  astro.config.mjs
Due: none

docs: add deployment status documentation for next agent
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

fix: add wrangler.toml for Cloudflare Pages environment variable binding
  astro.config.mjs
  docs/DEPLOYMENT_STATUS.md
  wrangler.toml
Due: prettier --write

docs: update deployment status with build and push verification
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

fix: add nodejs_compat flag to fix MessageChannel ReferenceError in Cloudflare Workers
  wrangler.toml
Due: none

docs: update deployment status with MessageChannel fix
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

ci: use experimentalReactChildren for Astro React adapter to bypass MessageChannel
  astro.config.mjs
Due: none

docs: add comprehensive session summary for next agent
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

fix: add react-dom/server.edge alias to fix MessageChannel error on Cloudflare
  astro.config.mjs
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

docs: update deployment status after react-dom/server.edge fix
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

docs: update deployment status succeeded
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

docs: add feature flags fix documentation and update types
  docs/DEPLOYMENT_STATUS.md
  docs/FEATURE_FLAGS_FIX.md
  src/env.d.ts
Due: eslint --fix, prettier --write

docs: update README and DEPLOYMENT_STATUS for PUBLIC_ENV_NAME requirement
  README.md
  docs/DEPLOYMENT_STATUS.md
Due: prettier --write

debug: add temporary debug endpoint to check env vars
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  src/pages/api/debug-env.ts
Due: eslint --fix, prettier --write

fix: use production as default for Cloudflare deployment
  docs/CLOUDFLARE_ENV_VARS_FIX.md
  src/features/index.ts
  src/pages/api/debug-env.ts
Due: eslint --fix, prettier --write

docs: add instructions for fixing HTTP 500 on /generators
  docs/SESSION_FIX_INSTRUCTIONS.md
Due: prettier --write

fix: gracefully handle missing env vars in supabase client
  docs/SESSION_FIX_INSTRUCTIONS.md
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

docs: add security audit report
  docs/SECURITY_AUDIT.md
Due: prettier --write

fix: allow public paths to continue without Supabase
  src/middleware/middleware-handler.ts
Due: eslint --fix, prettier --write

feat: implement complete user registration flow
  src/components/auth/RegisterForm.tsx
  src/components/auth/hooks/useRegisterForm.ts
  src/lib/services/authClient.service.ts
  src/types/types.ts
Due: eslint --fix, prettier --write

fix: add vite.define for ENV_NAME client-side access
  astro.config.mjs
Due: none

refactor: consolidate CI/CD workflows and cleanup deployment docs
  .github/workflows/README.md
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  README.md
  docs/CLOUDFLARE_ENV_VARS_FIX.md
  docs/CLOUDFLARE_FIX.md
  docs/DEPLOYMENT_STATUS.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/FEATURE_FLAGS_FIX.md
  docs/SESSION_FIX_INSTRUCTIONS.md
  docs/deployment-cloudflare.md
  package.json
  src/db/supabase.client.ts
  src/env.d.ts
  src/lib/hooks/useFeatureFlag.ts
  src/lib/services/health.service.ts
  src/lib/utils/environment.ts
  src/middleware/middleware-handler.ts
  src/pages/api/auth/signin.test.ts
  src/pages/api/env-check.ts
Due: eslint --fix, prettier --write

fix: remove SUPABASE_SERVICE_KEY requirement from CI build
  .github/workflows/main.yml
Due: none

fix: improve CI/CD pipeline debugging and fix E2E tests
  .github/workflows/main.yml
  coverage/lcov-report/index.html
  coverage/lcov.info
  docs/SECURITY.md
  docs/SECURITY_AUDIT.md
  docs/deployment-cloudflare.md
  e2e/feature-flags-enabled.spec.ts
  e2e/feature-flags.spec.ts
  src/lib/utils/logger.ts
Due: eslint --fix, prettier --write

fix: resolve Cloudflare vs Node adapter conflict in CI/CD
  .github/workflows/main.yml
Due: none

fix: use npx astro build instead of astro build in CI
  .github/workflows/main.yml
Due: none

fix: use npx astro build in health-check job too
  .github/workflows/main.yml
Due: none

fix: remove trailing whitespace in E2E tests (prettier)
  e2e/feature-flags-enabled.spec.ts
  e2e/feature-flags.spec.ts
Due: eslint --fix, prettier --write
