Repository JackLeetwan/qa-toolsmith: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,astro}": ["eslint --fix"],
  "*.{ts,tsx,js,jsx,md,css,json,astro}": ["prettier --write"]
}

CI: Add Supabase environment variables to build and e2e jobs
  .github/workflows/ci.yml
Due: none

Docs: Update README.md for consistency with current MVP implementation
  README.md
Due: prettier --write

Docs: Update test statistics with accurate numbers
  .ai/tech-stack.md
  README.md
Due: prettier --write

QA-039: Implement Page Object Model (POM) for E2E tests
  .ai/endpoint-implementation-plans/generators-iban-implementation-plan.md
  README.md
  VISUAL_REGRESSION_SUMMARY.md
  docs/QA-039-COMPLETION-SUMMARY.md
  docs/TESTING_GUIDELINES.md
  docs/VISUAL_REGRESSION_IMPLEMENTATION.md
  docs/VISUAL_REGRESSION_TESTING.md
  docs/e2e-pom-guide.md
  e2e-api-test-run.log
  e2e-test-output.log
  e2e-test-results.txt
  e2e/debug-selectors.spec.ts
  e2e/generators-iban.spec.ts
  e2e/homepage.spec.ts
  e2e/pages/BasePage.ts
  e2e/pages/HomePage.ts
  e2e/pages/IBANGeneratorPage.ts
  e2e/snapshots/.gitkeep
  e2e/snapshots/visual-regression.spec.ts-linux.png
  e2e/visual-regression.spec.ts
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

QA-040: Add comprehensive API testing to E2E tests for IBAN endpoint
  docs/QA-040-API-TESTING-SUMMARY.md
  docs/QA-040-QUICK-REFERENCE.md
  docs/api-testing-guide.md
  e2e-api-test-run.log
  e2e-test-output.log
  e2e-test-results.txt
  e2e/debug-selectors.spec.ts
  e2e/generators-iban.spec.ts
  e2e/homepage.spec.ts
  e2e/pages/BasePage.ts
  e2e/pages/HomePage.ts
  e2e/pages/IBANGeneratorPage.ts
  e2e/visual-regression.spec.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: resolve visual regression test failures
  e2e/pages/IBANGeneratorPage.ts
  e2e/snapshots/.gitkeep
  e2e/snapshots/visual-regression.spec.ts-linux.png
  e2e/visual-regression.spec.ts
  e2e/visual-regression.spec.ts-snapshots/homepage-dark-desktop-cards-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-dark-desktop-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-dark-desktop-hero-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-dark-desktop-topbar-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-dark-tablet-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-dark-tablet-hero-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-light-desktop-cards-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-light-desktop-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-light-desktop-hero-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-light-desktop-topbar-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-light-tablet-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/homepage-light-tablet-hero-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-dark-desktop-form-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-dark-desktop-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-dark-desktop-result-card-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-dark-desktop-with-result-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-dark-tablet-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-dark-tablet-with-result-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-light-desktop-form-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-light-desktop-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-light-desktop-result-card-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-light-desktop-with-result-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-light-tablet-full-page-chromium-linux.png
  e2e/visual-regression.spec.ts-snapshots/iban-generator-light-tablet-with-result-chromium-linux.png
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: naprawić 4 failujące UI testy E2E dla generatora IBAN
  e2e/pages/IBANGeneratorPage.ts
Due: eslint --fix, prettier --write

chore: remove unused .env.test.backup file
  .env.test.backup
Due: none

fix: resolve linting issues in e2e setup/teardown files
  e2e/setup/global.setup.ts
  e2e/teardown/global.teardown.ts
Due: eslint --fix, prettier --write

fix: pass GitHub secrets to E2E tests in CI
  .github/workflows/e2e-tests.yml
Due: none

fix: add master branch to E2E workflow triggers
  .github/workflows/e2e-tests.yml
Due: none

fix: improve server startup debugging in E2E workflow
  .github/workflows/e2e-tests.yml
Due: none

fix: add Supabase env vars to build and preview steps
  .github/workflows/e2e-tests.yml
Due: none

fix: disable Playwright webServer in CI environment
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: add permissions for test reporter in GitHub Actions
  .github/workflows/e2e-tests.yml
Due: none

fix: prevent multiple E2E test runs and add debugging
  e2e/setup/global.setup.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: update console.log formatting in global setup
  e2e/setup/global.setup.ts
Due: eslint --fix, prettier --write

debug: add environment variables debugging step
  .github/workflows/e2e-tests.yml
Due: none

Consolidate E2E tests into main CI workflow
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
Due: none

Fix E2E tests in CI - add server startup and teardown
  .github/workflows/ci.yml
Due: none

changed playwright-e2e-testing.mdc
  .cursor/rules/playwright-e2e-testing.mdc
Due: none

Fix remaining ESLint and TypeScript errors
  e2e/pages/BasePage.ts
  e2e/pages/HomePage.ts
  e2e/pages/IBANGeneratorPage.ts
  src/components/auth/FormField.tsx
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/hooks/useLoginForm.ts
  src/lib/services/authClient.service.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive RLS security policies
  e2e/pages/ChartersPage.ts
  e2e/rls-isolation.spec.ts
  src/__tests__/rls-integration.test.ts
  src/__tests__/rls-policies.test.ts
  supabase/migrations/20251022095644_enable_rls_all_tables.sql
Due: eslint --fix, prettier --write

fix: resolve prettier formatting error in rls-integration.test.ts
  src/__tests__/rls-integration.test.ts
Due: eslint --fix, prettier --write

feat: update GitHub Actions workflow and add comprehensive rules
  .cursor/rules/github-actions.mdc
  .github/workflows/ci.yml
Due: none

fix: update Cursor rules consistency
  .cursor/rules/mermaid-diagram-auth.mdc
  .cursor/rules/mermaid-diagram-journey.mdc
  .cursor/rules/mermaid-diagram-ui.mdc
  .cursor/rules/shared.mdc
Due: none

docs: consolidate testing documentation and remove duplicates
  docs/Testing_Guide.md
Due: prettier --write

cleanup: remove duplicate and outdated documentation files
  .ai/testing-guide.md
  .ai/tests/test-plan.md
  .ai/tests/test-plan.mdc
  .cursor/rules/playwright-e2e-testing.mdc
  .cursor/rules/vitest-unit-testing.mdc
  docs/QA-039-COMPLETION-SUMMARY.md
  docs/QA-040-API-TESTING-SUMMARY.md
  docs/QA-040-QUICK-REFERENCE.md
  docs/TESTING_GUIDELINES.md
  docs/api-testing-guide.md
  docs/e2e-cloud-setup.md
  docs/e2e-diagnostics.md
  docs/e2e-pom-guide.md
Due: prettier --write

testing_guide consolidated
  .ai/Testing_Guide.md
Due: prettier --write

fix: remove undefined secrets from CI workflow
  .github/workflows/ci.yml
Due: none

fix: poprawki GitHub Actions workflows
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
Due: prettier --write

fix: add coverage/ to .gitignore
  .gitignore
Due: none

fix: remove incorrect test-reporter usage for LCOV coverage files
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
Due: none

fix: remove unused SUPABASE_SERVICE_KEY from E2E tests
  .github/workflows/ci.yml
Due: none

fix: remove unused OPENROUTER_API_KEY from E2E tests
  .github/workflows/ci.yml
Due: none

docs: consolidate and reorganize documentation
  .ai/ARCHITECTURE.md
  .ai/Testing_Guide.md
  .ai/api-plan.md
  .ai/auth-spec.md
  .ai/db-plan.md
  .ai/endpoint-implementation-plans.md
  .ai/endpoint-implementation-plans/generators-iban-implementation-plan.md
  .ai/endpoint-implementation-plans/get-templates-implementation-plan.md
  .ai/endpoint-implementation-plans/health-endpoint-implementation-plan.md
  .ai/endpoint-implementation-plans/patch-profiles-me-endpoint-implementation-plan.md
  .ai/endpoint-implementation-plans/profiles-me-endpoint-implementation.md
  .ai/tech-stack.md
  .ai/ui-plan.md
  .cursor/rules/shared.mdc
  .github/copilot-instructions.md
  docs/api.md
  docs/api/auth-login.md
  docs/api/generators-iban.md
  docs/api/health.md
  docs/api/index.md
  docs/api/validators-iban.md
Due: prettier --write

docs: finalize documentation cleanup and consolidation
  .ai/ARCHITECTURE.md
  .ai/CODING_GUIDELINES.md
  .ai/UI-implementation-plans/generators-view-implementation-plan.md
  .ai/diagrams/GENERATION_GUIDELINES.md
  .ai/diagrams/ui.md
  .ai/endpoint-implementation-plans.md
  .ai/openrouter-service-implementation-plan.md
  .cursor/rules/api-supabase-astro-init.mdc
  .cursor/rules/astro.mdc
  .cursor/rules/backend.mdc
  .cursor/rules/db-supabase-migrations.mdc
  .cursor/rules/frontend.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/mermaid-diagram-auth.mdc
  .cursor/rules/mermaid-diagram-journey.mdc
  .cursor/rules/mermaid-diagram-ui.mdc
  .cursor/rules/react.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/supabase-auth.mdc
  .cursor/rules/ui-shadcn-helper.mdc
  .github/copilot-instructions.md
  docs/generators-view.md
Due: prettier --write

docs: consolidate documentation and remove duplications
  .ai/CODING_GUIDELINES.md
  .ai/generators-implementation-summary.md
  docs/api.md
  docs/generators-view.md
Due: prettier --write

refactor: modularize Welcome component with reusable landing components
  .cursor/rules/CODING_GUIDELINES.md
  src/__tests__/components/landing/BenefitItem.test.tsx
  src/__tests__/components/landing/FeatureCard.test.tsx
  src/__tests__/components/landing/FeatureGrid.test.tsx
  src/components/Welcome.astro
  src/components/landing/BenefitItem.tsx
  src/components/landing/BenefitsSection.tsx
  src/components/landing/CallToAction.tsx
  src/components/landing/FeatureCard.tsx
  src/components/landing/FeatureGrid.tsx
  src/components/landing/HeroSection.tsx
Due: eslint --fix, prettier --write
