Repository JackLeetwan/qa-toolsmith: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: reorganize AI helper files into specialized modules
  .cursor/rules/CODING_GUIDELINES.md
  .cursor/rules/LOGGER_TEST_UTILITIES.md
  .cursor/rules/backend-api.mdc
  .cursor/rules/frontend-coding.mdc
  .cursor/rules/planning.mdc
  .cursor/rules/shared.mdc
Due: prettier --write

docs: update documentation with latest standards
  .ai/ARCHITECTURE.md
  CONTRIBUTING.md
  docs/deployment-cloudflare.md
  docs/tech-stack.md
Due: prettier --write

docs: update generators-view.md with version numbers
  docs/generators-view.md
Due: prettier --write

feat: improve auth validation and error handling
  src/components/auth/hooks/useRegisterForm.ts
  src/db/supabase.client.ts
  src/pages/api/auth/signup.ts
Due: eslint --fix, prettier --write

test: add E2E tests for user registration flow
  e2e/registration.spec.ts
Due: eslint --fix, prettier --write

docs: update frontend coding rules for React 19
  .cursor/rules/frontend-coding.mdc
Due: none

fix: prettier formatting
  src/components/auth/hooks/useRegisterForm.ts
Due: eslint --fix, prettier --write

fix: prettier formatting in registration e2e tests
  e2e/registration.spec.ts
Due: eslint --fix, prettier --write

fix: add SUPABASE_URL and SUPABASE_KEY to vite.define for Node adapter
  astro.config.mjs
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

fix: prettier formatting
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

fix: add fallback to process.env for Node adapter runtime
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

fix: use globalThis.process to access env vars in Node runtime
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

fix: remove SUPABASE vars from vite.define - use process.env fallback
  astro.config.mjs
Due: none

docs: add complete context for E2E environment variable issue
  E2E_ISSUE_CONTEXT.md
Due: prettier --write

fix: resolve E2E env var issue by using Node adapter and dotenv loader
  .github/workflows/main.yml
  E2E_ISSUE_CONTEXT.md
  package.json
  scripts/preview.js
  src/db/supabase.client.ts
Due: eslint --fix, prettier --write

test: add Supabase client initialization tests with env var loading
  src/__tests__/lib/supabase-client.test.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write

docs: update E2E context with final implementation status and troubleshooting guide
  E2E_ISSUE_CONTEXT.md
Due: prettier --write

docs: add debugging summary with problem, root cause, and solution
  DEBUGGING_SUMMARY.md
Due: prettier --write

fix: use Node adapter build for E2E tests instead of astro dev
  scripts/dev-e2e.js
Due: eslint --fix, prettier --write

docs: update testing checklist with E2E local test results
  DEBUGGING_SUMMARY.md
Due: prettier --write

fix: resolve E2E localhost:54321 issue by disabling webServer in CI and improving env var handling
  .github/workflows/main.yml
  README.md
  playwright.config.ts
  scripts/preview.js
Due: eslint --fix, prettier --write

debug: add detailed SUPABASE_URL diagnostics to global setup to show localhost vs cloud
  e2e/setup/global.setup.ts
Due: eslint --fix, prettier --write

feat: add detailed Supabase signup error logging for CI debugging
  src/pages/api/auth/signup.ts
Due: eslint --fix, prettier --write

ci: add server logs upload and printing for debugging
  .github/workflows/main.yml
Due: none

feat: add diagnostic script to test Supabase signup directly
  .github/workflows/main.yml
  scripts/test-signup.js
Due: eslint --fix, prettier --write

fix: replace @example.com with @mailinator.com in tests (Supabase blocks example.com)
  e2e/registration.spec.ts
  scripts/test-signup.js
Due: eslint --fix, prettier --write

fix: resolve E2E CI failures caused by email confirmation
  e2e/registration.spec.ts
  src/components/auth/RegisterForm.tsx
  src/components/auth/hooks/useRegisterForm.ts
  src/lib/services/authClient.service.ts
  src/pages/api/auth/signup.ts
  src/types/types.ts
Due: eslint --fix, prettier --write

feat: enhance authentication system with improved error handling and E2E testing
  e2e/registration.spec.ts
  e2e/setup/global.setup.ts
  eslint.config.js
  playwright.config.ts
  scripts/dev-e2e.js
  scripts/preview.js
  scripts/test-signup.js
  src/__tests__/lib/supabase-client.test.ts
  src/components/auth/RegisterForm.tsx
  src/components/auth/hooks/useRegisterForm.ts
  src/db/supabase.client.ts
  src/lib/services/authClient.service.ts
  src/pages/api/auth/signup.test.ts
  src/pages/api/auth/signup.ts
  src/pages/auth/register.astro
Due: eslint --fix, prettier --write

fix: resolve timeout cleanup issue in RegisterForm
  e2e/registration.spec.ts
  src/components/auth/RegisterForm.tsx
  src/components/auth/hooks/useRegisterForm.ts
Due: eslint --fix, prettier --write

chore: clean up eslint-disable comments
  astro.config.mjs
  scripts/dev-e2e-safe-defaults.js
  scripts/dev-e2e.js
  src/pages/api/auth/signup.ts
Due: eslint --fix, prettier --write

fix: ensure process.env is populated for Supabase tests
  src/__tests__/lib/supabase-client.test.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write

fix: prettier formatting in auth improvements (#5)
  .github/workflows/main.yml
  DEBUGGING_SUMMARY.md
  E2E_ISSUE_CONTEXT.md
  README.md
  astro.config.mjs
  e2e/registration.spec.ts
  e2e/setup/global.setup.ts
  eslint.config.js
  package.json
  playwright.config.ts
  scripts/dev-e2e-safe-defaults.js
  scripts/dev-e2e.js
  scripts/preview.js
  scripts/test-signup.js
  src/__tests__/lib/supabase-client.test.ts
  src/components/auth/RegisterForm.tsx
  src/components/auth/hooks/useRegisterForm.ts
  src/db/supabase.client.ts
  src/lib/services/authClient.service.ts
  src/pages/api/auth/signup.test.ts
  src/pages/api/auth/signup.ts
  src/pages/auth/register.astro
  src/test/setup.ts
  src/types/types.ts
Due: eslint --fix, prettier --write

feat(auth): read Supabase env from Cloudflare runtime bindings; pass locals.runtime.env to API routes and middleware; lint & build
  src/db/supabase.client.ts
  src/middleware/middleware-handler.ts
  src/pages/api/auth/reset-change.ts
  src/pages/api/auth/reset-request.ts
  src/pages/api/auth/signin.ts
  src/pages/api/auth/signout.ts
  src/pages/api/auth/signup.ts
Due: eslint --fix, prettier --write

feat(auth): read Supabase env from Cloudflare runtime bindings; pass locals.runtime.env to API routes and middleware; lint & build (#6)
  src/db/supabase.client.ts
  src/middleware/middleware-handler.ts
  src/pages/api/auth/reset-change.ts
  src/pages/api/auth/reset-request.ts
  src/pages/api/auth/signin.ts
  src/pages/api/auth/signout.ts
  src/pages/api/auth/signup.ts
Due: eslint --fix, prettier --write

auth: redirect to login with check_email banner after signup requiring email confirmation; show banner on login page
  src/components/auth/RegisterForm.tsx
  src/pages/auth/login.astro
Due: eslint --fix, prettier --write

fix: lint issues in login.astro; update registration E2E to accept login redirect with check_email=1
  e2e/registration.spec.ts
  src/pages/auth/login.astro
Due: eslint --fix, prettier --write

fix(lint): use @ts-expect-error in login.astro; format E2E URL checks per prettier
  e2e/registration.spec.ts
  src/pages/auth/login.astro
Due: eslint --fix, prettier --write

style(login): format banner block per Prettier in login.astro
  src/pages/auth/login.astro
Due: eslint --fix, prettier --write

chore(lint): apply eslint --fix on login.astro formatting
  src/pages/auth/login.astro
Due: eslint --fix, prettier --write

auth: redirect after signup + login banner for email confirmation (#7)
  e2e/registration.spec.ts
  src/components/auth/RegisterForm.tsx
  src/pages/auth/login.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,astro}
  prettier --write: any of: *.{ts,tsx,js,jsx,md,css,json,astro}
